@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-md-4">
    <div class="card mb-4">
        <img class="card-img-top" id="imgtex">
        <div class="card-body">
            <h5 class="card-title" id="stitle"></h5>
            <p class="card-text" id="Xbody"></p>
        </div>
        <div class="card-footer">
            <small class="text-muted" id="address"></small>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/travel.js"></script>
    <script>
        const imgte = document.querySelector('#imgtex');
        const stitl = document.querySelector('#stitle');
        const xbody = document.querySelector('#Xbody');
        const addre = document.querySelector('#address');
        const sections = spots.CommonFormat.Section;
        const section = sections[0];
        const shortenedXbody = section.xbody.substring(0, 100);
        const imgText = Array.isArray(section.file.img) ? section.file.img[0].text : section.file.img.text;
        imgte.innerHTML = imgText;
        stitl.innerHTML = section.stitle;
        xbody.innerHTML = shortenedXbody;
        addre.innerHTML = section.address;
        console.log(spots.CommonFormat.Section);
    </script>
}