@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Test></h1>
<ul></ul>


@section Scripts {
    <script src="~/js/travel.js"></script>
    <script>
        const theUl = document.querySelector('#ull');
        console.log(spots.CommonFormat.Section);
        for (i = 0; i < spots.CommonFormat.Section.length; i++) {
            const eleLi = document.createElement("li");
            const txtLi = document.createTextNode(spots.CommonFormat.Section[i].CAT2);
            eleLi.appendChild(txtLi);
            theUl.appendChild(eleLi);
        }
    </script>
}